@model Arthesanatus2021.AppMvc.ViewModels.RevistaViewModel

@{
    ViewBag.Title = "Excluir a Revista " + Model.Tema + "?";
}
<div class="row">
    <h2 style="font-weight:700">@ViewBag.Title </h2>
    <h4 style="font-style:italic; color:orangered;">Você tem certeza disso?</h4>
    <h4 style="font-style: italic; color: orangered; ">Esta ação será permanente!</h4>
    <hr />
</div>




<div class="row">
    <div class="col-md-4">
        <img src="~/imagens/@Model.Foto" alt="@Model.Foto" style="width: 300px; height: 428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroEdicao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroEdicao)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.MesEdicao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MesEdicao)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.AnoEdicao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnoEdicao)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Tema)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tema)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-primary" href="@Url.Action("Index", "Revistas")">Página Inicial</a>
            </div>
        }
    </div>

</div>