@model Arthesanatus2021.AppMvc.ViewModels.RevistaViewModel

@{
    ViewBag.Title = "Detalhe da Revista - " + Model.Tema;
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <img class="imagemBorda" src="~/imagens/@Model.Foto" alt="@Model.Foto" style="width: 300px; height: 428px" />
    </div>


    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroEdicao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroEdicao)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.MesEdicao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MesEdicao)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.AnoEdicao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnoEdicao)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Tema)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tema)
            </dd>
        </dl>



        <div>
            <a class="btn btn-primary" href="@Url.Action("Index", "Revistas")"><span class="glyphicon glyphicon-home"></span></a>
            <a class="btn btn-info" href="@Url.Action("Edit", "Revistas", new { id = Model.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    </div>
</div>

