@model Arthesanatus2021.AppMvc.ViewModels.ReceitaViewModel

@{
    ViewBag.Title = "Excluir Receita";
}

<h2>@ViewBag.Title</h2>
<br />

<h3>Está certo de excluir a Receita?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RevistaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RevistaId)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>

    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a class="btn btn-danger" href="@Url.Action("Delete", "Receitas", new { id = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a> | 
            <a class="btn btn-primary" href="@Url.Action("Index", "Receitas")"><span class="glyphicon glyphicon-home"></span></a>
        </div>
    }
</div>
