@model Arthesanatus2021.AppMvc.ViewModels.ReceitaViewModel

@{
    ViewBag.Title = "Detalhes da Receita";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RevistaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevistaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>


<div>
    <a class="btn btn-primary" href="@Url.Action("Index", "Receitas")"><span class="glyphicon glyphicon-home"></span></a>
    <a class="btn btn-info" href="@Url.Action("Edit", "Receitas", new { id = Model.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
</div>
