@model IEnumerable<Arthesanatus2021.AppMvc.ViewModels.ReceitaViewModel>

@{
    ViewBag.Title = "Lista de Receitas";
}

<h2>@ViewBag.Title</h2>
<hr />
<p>
    <a class="btn btn-info" href="@Url.Action("Create", "Receitas")">
        Nova Receita
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revista.Tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="~/imagens/@item.Foto" alt="@item.Foto" style="width: 70px; height: 100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revista.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            <td class="text-right">
                <a class="btn btn-warning" href="@Url.Action("Details", "Receitas", new { id = item.Id })"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-info" href="@Url.Action("Edit", "Receitas", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-danger" href="@Url.Action("Delete", "Receitas", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
                <a class="btn btn-primary" href="@Url.Action("RevistaRelacionada", "Receitas", new { id = item.RevistaId })"><span class="glyphicon glyphicon-list"></span></a>
            </td>
        </tr>
        }
    </tbody>
</table>
