@model IEnumerable<Arthesanatus2021.AppMvc.ViewModels.ReceitaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.RevistaId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    @*<td>
        @Html.DisplayFor(modelItem => item.RevistaId)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descricao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Foto)
    </td>
    <td class="text-right">
        <a class="btn btn-warning" href="@Url.Action("Details", "Receitas", new { id = item.Id })"><span class="glyphicon glyphicon-search"></span></a>
        <a class="btn btn-info" href="@Url.Action("Edit", "Receitas", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-danger" href="@Url.Action("Delete", "Receitas", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
        <a class="btn btn-primary" href="@Url.Action("Revista", "Receitas", new { id = item.RevistaId })"><span class="glyphicon glyphicon-file"></span></a>
    </td>
</tr>
}

</table>
